@import 'utility';

$base-text-size: 16px;
$base-font-family: 'Brandon Grotesque', 'Raleway', sans-serif;
$base-color-one: hsla(177, 8, 99, 1);
$base-color-two: hsla(180, 37, 93, 1);
$base-color-three: hsla(191, 46, 87, 1);
$base-color-four: hsl(240, 100%, 10%);
$base-color-five: hsla(204, 82%, 17%, 1);

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-weight: lighter;
  color: $base-color-five;
  background-color: $base-color-one;
  min-height: 100%;
}

// top header section

header.top {
  background-image: url(../images/ami-city-pier-2.jpg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;

  // h1 {
  //   margin: 0;
  //   font-size: 8vw;
  //   font-weight: lighter;
  //   display: inline-block;
  // }
  h1 {
    color: $base-color-five;
    font-size: 2em;
    font-weight: lighter;
    margin: 0 0 0.5em;
    font-variant-caps: small-caps;

    @media (min-width: 450px) {
      font-size: 2.75em;
    }

    @media (min-width: 760px) {
      font-size: 3.25em;
    }

    @media (min-width: 900px) {
      font-size: 5.25em;
      margin: 0 0 0.5em;
    }
  }

  h2 {
    font-variant-caps: all-small-caps;
    font-weight: lighter;
  }

  // a {
  //   // background: $base-color-three;
  //   border: 1px solid $base-color-five;
  //   color: inherit;
  //   list-style-position: inside;
  //   text-decoration: none;
  //   padding: 0.5em;
  //   font-size: 1em;
  //
  //   &:hover,
  //   &:active {
  //     background: $base-color-five;
  //     color: $base-color-one;
  //     letter-spacing: 0.25em;
  //   }
  // }
  // .btn {
  //   color: #fff;
  //   cursor: pointer;
  //   display: block;
  //   font-size:16px;
  //   font-weight: 400;
  //   line-height: 45px;
  //   margin: 0 auto 2em;
  //   max-width: 160px;
  //   position: relative;
  //   text-decoration: none;
  //   text-transform: uppercase;
  //   vertical-align: middle;
  //   width: 100%;
  //
  //   @media(min-width: 400px) {
  //     display: inline-block;
  //     margin-right: 2.5em;
  //
  //     &:nth-of-type(even) {
  //       margin-right: 0;
  //     }
  //   }
  //
  //   @media(min-width: 600px) {
  //
  //     &:nth-of-type(even) {
  //       margin-right: 2.5em;
  //     }
  //
  //     &:nth-of-type(5) {
  //       margin-right: 0;
  //     }
  //
  //   }
  //
  //   &:hover { text-decoration: none; }
  //
  // }

  button {
    letter-spacing: 0;
    color: $base-color-five;
    cursor: pointer;
    // display: block;
    font-size: 0.75em;
    font-weight: lighter;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }

  button:hover,
  button:active {
    letter-spacing: 0.1em;
  }

  button::after,
  button::before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  button:hover::after,
  button:hover::before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  button:hover::before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}

// a {
//   background: $base-color-three;
//   border-bottom: 1px solid;
//   color: $white;
//   line-height: 1.4;
//   padding: .25em;
//   text-decoration: none;
//
//   &:hover {
//     background: rgba($white, 1);
//     color: $red;
//   }
// }

// section.about-me {
//   padding: 5em 1em 10em 5em;
//   display: flex;
//   flex-wrap: wrap;
// }

// GitHub section

div.bio {
  display: flex;
  flex-direction: column;

  img.gitHubChart {
    // display: block;
    // align-items: center;
  }p

  img.avatar_url {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 2;
  }

  h4 {
    flex: 2;
    font-weight: lighter;
  }
}

blockquote {
  background-color: hsla(0, 100%, 100%, 0.6);
  border-radius: 0.3em;
  padding: 1em;
  position: relative;
  margin: -16em 1em 2em 13em;
}

blockquote h1 {
  color: hsla(0, 0%, 21%, 1);
  margin-top: 0.1em;
  font-weight: lighter;
  font-size: 2em;
}

blockquote h4 {
  color: hsla(0, 0%, 21%, 1);
  margin-bottom: 0;
  font-weight: normal;
}

.thumbs {
  background-color: hsla(205, 79%, 5%, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  border-radius: 0.3em;
  justify-content: center;
  padding-left: 0;
}

.thumbs li {
  width: 15em;
  height: 9.27em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.3em;
  margin: 0.5em;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 600px) {
  section.about-me {
    padding: 1em 1em 0 3em;
  }

  .avatar_url {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  blockquote {
    background-color: hsla(0, 100%, 100%, 0.6);
    border-radius: 0.3em;
    padding: 1em;
    margin: 2em;
  }

  .triangle {
    opacity: 0.6;
    height: 1.5em;
    width: 1.5em;
    position: relative;
    bottom: 2.5em;
    left: 7em;
    transform: rotate(-90deg);
  }

  blockquote h1 {
    color: hsla(0, 0%, 21%, 1);
    margin-top: 0.1em;
  }

  blockquote h4 {
    color: hsla(0, 0%, 21%, 1);
    margin-bottom: 0;
  }

  .thumbs {
    align-items: center;
  }

  .thumbs li {
    border-radius: 50%;
    list-style-type: none;
    width: 6em;
    height: 6em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1em;
  }
}

main {
  background-image: url(../images/ami-city-pier.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article {
  background-color: hsla(0, 100%, 100%, 1);
  color: hsla(0, 0%, 21%, 0.75);
  margin: 2.5em;
  border-radius: 0.3em;
}

article header {
  height: 4em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.3em 0.3em 0 0;
}

article div {
  padding: 1.2em;
}

time {
  font-size: 0.75em;
  font-weight: lighter;
}

.keep-reading {
  background-color: hsla(204, 100%, 42%, 1);
  padding: 0.7em;
  font-weight: bold;
  position: absolute;
  right: 3em;
  border: 1px solid hsl(200, 60%, 50%);
  border-radius: 0.3em;
}

.keep-reading:link,
.keep-reading:visited {
  color: white;
  text-decoration: none;
}

footer {
  color: $base-color-five;
  font-weight: lighter;
  background-image: url(../images/ami-city-pier-2.jpg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;

  h2 {
    margin-top: 3em;
    margin-bottom: 2.5em;
    text-align: center;
    font-size: 2em;
    padding: 0 0.5em;
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin: -3em 10em 5em 10em;
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 2.3em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      a {
        text-indent: 0;
        color: inherit;
      }
    }
  }

  h5 {
    text-align: center;
    font-size: 1em;
    padding: 1em;
  }
}

@media (max-width: 600px) {
  footer {
    color: $base-color-four;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
      // color: hsla(0, 0%, 21%, 0.75)
    }

    li {
      flex-wrap: wrap;
      font-size: 4em;
      justify-content: center;
      align-items: center;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      margin: 0.2em;
      // color: hsla(0, 0%, 21%, 0.75);
    }

    h5 {
      text-align: center;
      font-size: 1em;
      padding: 1em;
      // color: hsla(0, 0%, 21%, 0.75);
    }
  }
}
