@import 'utility';

$base-text-size: 16px;
$base-font-family: 'Brandon Grotesque', 'Raleway', sans-serif;
$base-color-one: hsla(177, 8, 99, 1);
$base-color-two: hsla(180, 37, 93, 1);
$base-color-three: hsla(191, 46, 87, 1);
$base-color-four: hsl(240, 100%, 10%);
$base-color-five: hsla(204, 82%, 17%, 1);
$base-color-six: hsla(183, 55%, 50%, 1);

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-weight: lighter;
  color: $base-color-five;
  background-color: $base-color-one;
  min-height: 100%;
}

// top header section

header.top {
  background-image: url(../images/ami-city-pier-2.jpg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;

  @media (min-width: 450px) {
    padding-top: 1em;
    padding-bottom: 5em;
  }

  @media (min-width: 760px) {
    padding-top: 1em;
    padding-bottom: 5em;
  }

  @media (min-width: 900px) {
    padding-top: 1em;
    padding-bottom: 5em;
  }

  h1 {
    color: $base-color-five;
    font-size: 2em;
    font-weight: lighter;
    margin: 0 0 0.5em;
    font-variant-caps: small-caps;

    @media (min-width: 450px) {
      font-size: 2.75em;
    }

    @media (min-width: 760px) {
      font-size: 3.25em;
    }

    @media (min-width: 900px) {
      font-size: 5.25em;
      margin: 0 0 0.5em;
    }
  }

  h2 {
    font-variant-caps: all-small-caps;
    font-weight: lighter;
    font-size: 1.5em;

    @media (min-width: 450px) {
      font-size: 1.5em;
    }

    @media (min-width: 760px) {
      font-size: 2em;
    }

    @media (min-width: 900px) {
      font-size: 2em;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    letter-spacing: 0;
    color: $base-color-five;
    cursor: pointer;
    display: block;
    font-size: 0.75em;
    font-weight: lighter;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    background-color: inherit;
    border-left: 1px solid $base-color-three;
    border-top: none;
    border-right: 1px solid $base-color-three;
    border-bottom: none;
  }

  button:hover,
  button:active {
    letter-spacing: 0.25em;
    transition: all 200ms ease-in-out;
  }

  button::after,
  button::before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 200ms ease-in-out;
    width: 0;
  }

  button:hover::after,
  button:hover::before {
    backface-visibility: hidden;
    border-color: $base-color-five;
    transition: width 350ms ease-in-out;
    width: 80%;
  }

  button:hover::before {
    bottom: auto;
    top: 0;
    width: 80%;
  }
}
// buttons styling codepen https://codepen.io/davidicus/pen/emgQKJ?editors=0110

// Skills section

div.bio {
  display: flex;
  flex-direction: row;
  padding: 2em;
  // max-width: 800px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  img.avatar_url {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  p {
    padding: 1em;
    font-size: 1.25em;
    text-align: right;
    max-width: 500px;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.avatar_url {
      width: 10em;
      height: 10em;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    p {
      padding: 1em;
      font-size: 1.15em;
      text-align: center;
    }
  }
}

div.skills {
  font-size: 1.15em;
  text-align: center;

  .words {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .quote {
    font-style: italic;
  }

  h1 {
    background: $base-color-five;
    background: -webkit-linear-gradient(left top, $base-color-six, $base-color-two);
    background: -o-linear-gradient(bottom right, $base-color-six, $base-color-two);
    background: -moz-linear-gradient(bottom right, $base-color-six, $base-color-two);
    background: linear-gradient(to bottom right, $base-color-five, $base-color-six, $base-color-two);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: $base-color-one;
    font-variant-caps: all-small-caps;
    font-weight: lighter;
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 1em;
    justify-content: center;

    li {
      font-family: 'devicons';
      font-size: 4em;
      display: flex;
      flex-direction: row;
      padding: 0.5em;
      justify-content: space-between;
      color: darken($base-color-six, 10);
    }
  }

  div img.gitHubChart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
  }

  @media (max-width: 600px) {
    ul {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding: 0;
      max-height: 500px;
    }

    li {
      flex-wrap: wrap;
      font-size: 4em;
      justify-content: space-between;
      // align-items: center;
      // width: 85px;
      // height: 85px;
      border-radius: 50%;
      margin: 0;
    }

    div img.gitHubChart {
      width: 80vw;
    }
  }
}

footer {
  color: $base-color-two;
  font-weight: lighter;
  // background-image: url(../images/ami-city-pier-2.jpg);
  // background-size: cover;
  // background-position: bottom right;
  // background-repeat: no-repeat;
  background: $base-color-five;
  background: -webkit-linear-gradient(left top, $base-color-five, $base-color-six, $base-color-two);
  background: -o-linear-gradient(bottom right, $base-color-five, $base-color-six, $base-color-two);
  background: -moz-linear-gradient(bottom right, $base-color-five, $base-color-six, $base-color-two);
  background: linear-gradient(to bottom right, $base-color-five, $base-color-six, $base-color-two);

  h2 {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    // padding: 0 0.5em;
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin: -3em 10em 5em 10em;
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      a {
        text-indent: 0;
        color: inherit;
      }
    }
  }

  h5 {
    text-align: center;
    font-size: 1em;
    padding: 1em;
    margin: 0;
    font-weight: lighter;
    color: $base-color-five;
  }
}

@media (max-width: 600px) {
  footer {
    color: $base-color-two;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
    }

    li {
      flex-wrap: wrap;
      font-size: 4em;
      justify-content: center;
      align-items: center;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      margin: 0.2em;
    }

    h5 {
      text-align: center;
      font-size: 1em;
      padding: 1em;
      color: $base-color-five;
      margin: 0;
      font-weight: lighter;
    }
  }
}

ul.socials {
  li {
    border: 0 solid;
    box-shadow: inset 10 10 50px hsla(191, 46, 87, 0.1);
    // outline: 0 solid;
    outline-offset: 10px;
    text-shadow: none;
    transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      border: 0 solid;
      // box-shadow: inset 0 0 20px $base-color-three, 0 0 10px $base-color-three;
      outline-color: rgba(255, 255, 255, 0);
      // outline-offset: 30px;
      text-shadow: 4px 4px 8px #427388;
    }
  }
}
